<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>About Us!</title>
  </head>
  <body>
    <h2>About Us!</h2>
	<a href= "{% url 'djangoapp:index' %}"> Home</a> <br> <br>
	
     <b><i> Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.</i></b> <Br>
	 Drive Home Your New Choice Car Today!  - Best bargain! Best Offer! - Visit Our Showroom- We Can Help Find The Vehicle You Are Looking
	 For- Request Your Choice Model- Also Schedule service!
    

  </body>
</html>