<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>Contact Us</title>
  </head>
  <body>
	<header class="main-header">
    <div class="container">
        <h1 class="page-title">Contact Us</h1> 
		<a href= "{% url 'djangoapp:index' %}"> Home</a>
                   
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
			 <p>For the best cars, good prices, and technical support:</p>
			<!-- Success message -->
        </div>

        <div class="col-md-8">
            <section>
                <div class="panel panel-primary">
                    <div class="panel-heading"><i class="fa fa-envelope-o"></i>Additional Information</div>
                    <div class="panel-body">
                        <h4 class="section-title no-margin-top">Contacts</h4>
                        <address>
                            <strong>Best cars Delearship.</strong><br>
                            Address:<br>
                            
                            <title="Phone">Phone: <br>
                            Mail: <a href="#">bestcars@yahoo.com</a>
                        </address>
				
                    </div>
                </div>
            </section>
        </div>	
    </div>
	
    
    
  </body>
</html>